import * as Joi from 'joi';

export const new{{Module}}Schema = Joi.object().keys({
{{creationParamValidators}}});

export const update{{Module}}Schema = Joi.object().keys({
	id: Joi.string().hex().length(24).required(),
{{editionParamValidators}}});
